<!-- views/partials/footer.ejs -->


        <footer class="pt-100">
                <div class="container footer">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#page-top js-scroll-trigger" class="brand">ArchiVA</a>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet consectetur dolor
                                in elementum.</p>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a class="icon icon-twitter" href="">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon icon-facebook" href="">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon icon-gplus" href="">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon icon-instagram" href="">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-1 list">
                            <h5>
                                <strong>Contact Info</strong>
                            </h5>
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Register</a>
                                </li>
                                <li>
                                    <a href="#">Download Brief</a>
                                </li>
                                <li>
                                    <a href="#">Lorem Ipsum</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5>
                                <strong>Contact Info</strong>
                            </h5>
                            <p>
                                <strong>Adress:</strong> 514 S. Magnolia St. Orlando, FL 32806
                                <!-- Random Adress -->
                            </p>
                            <p>
                                <strong>Email:</strong> email@example.com</p>
                            <p>
                                <strong>Tel.:</strong> (888) 888 8888</p>
                        </div>
                    </div>
                </div>
                <div class="pt-50"></div>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <a href="#">Terms of Service</a> |
                                <a href="#">Privacy</a> |
                                <a href="#">Disclaimer</a>
                            </div>
                            <div class="col-md-4">
                                <p class="copyright pull-right">© 2018 ArchiVA. All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
    
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/js/jquery.parallax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="/js/anime.min.js"></script>
        <script src="https://res.cloudinary.com/vsevolodts/raw/upload/v1503371762/timeit.min.js"></script>
        <script src="/js/main.js"></script>

        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/brands.js" integrity="sha384-qJKAzpOXfvmSjzbmsEtlYziSrpVjh5ROPNqb8UZ60myWy7rjTObnarseSKotmJIx"
            crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/fontawesome.js" integrity="sha384-2IUdwouOFWauLdwTuAyHeMMRFfeyy4vqYNjodih+28v2ReC+8j+sLF9cK339k5hY"
            crossorigin="anonymous"></script>
    
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ac3c06704f9f4bd"></script>