<!-- views/partials/header.ejs -->
    



<header class="parallax-bg" data-src="./img/bg_natural.png" data-pos-x="left" data-parallax>
    <div id="home" class="text-center">
        <div class="hero-content">
            <h1 class="big-text">ArchiVA</h1>
            <p class="subtext">The Architectural Visualisation Award - 2018</p>
            <div class="pt-50 timeit" data-end="2018-04-9 23:59">
                <a href="./register.html?ref=hero" class="btn btn-lg btn-primary disabled">Registeration not started</a>
                <h4 class="pt-20">Registeration will be open soon.</h4>
            </div>
            <div class="pt-50 timeit" data-start="2018-04-9 24:00" data-end="2018-05-24 23:59">
                <a href="./register?ref=hero&isTeam=1" class="btn btn-lg btn-primary">Register Now</a>
                <h4 class="pt-20">Registeration Deadline - May 24, 2018</h4>
            </div>
            <div class="pt-50 timeit" data-start="2018-05-24 24:00" data-end="2018-06-24 23:59">
                <a href="./register.html?ref=hero" class="btn btn-lg btn-primary">Register Closed</a>
                <h4 class="pt-20">Submission Deadline - June 30, 2018</h4>
            </div>
        </div>
    </div>
</header>
    