<!-- views/partials/head.ejs -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>VAA 2018 | October 13 - 14, 2018</title>

    <meta name="keywords" content="inout, inout hackathon, hackathon, hackathon ideas, hackathon bangalore, hackathon india, hackathon hackers india, bangalore, community, hackathon community, developer community, developer relations, api, sdk, hardware hackathon, hardware hacks, technology, startups, innovation, hacks">
    <meta name="author" content="InOut Team">
    <meta http-equiv="cache-control" content="public">

    <meta name="theme-color" content="#1071F2">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet">