<!DOCTYPE html>
<html lang="en">

<head>
    <title>Intro to Node and MongoDB</title>
    <style>
        .form-control {
            border-radius: 2px !important;
            background-color: #f3f3f3 !important;
            border: none !important;
            box-shadow: none !important;
            padding: 10px 20px !important;
            height: 42px !important;
        }

        label {
            font-weight: 500;
            color: #7f7f7f;
        }

        .form-group {
            margin-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="">
                        <h2>ArchiVA Registration</h2>
                        <p class="lead-text">
                            ArchiVA is an initiative to bring forward the young talent and innovative designers who think out of the box solutions for
                            real life problems &amp; projects.
                        </p>
                        <div class="pt-50"></div>
                    </div>

                    <form method="POST" action="/register/individual/user">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="firstName" class="control-label">First Name</label>
                                    <input type="text" name="firstName" placeholder="First Name" class="form-control" autofocus>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="middleName" class="control-label">Middle Name</label>
                                    <input type="text" name="middleName" placeholder="Middle Name" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="lastName" class="control-label">Last Name</label>
                                    <input type="text" name="lastName" placeholder="Last Name" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="phoneNumber">Phone Number</label>
                                        <input type="tel" class="form-control" name="phoneNumber" placeholder="Phone Numebr">
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="emailAddress">Email address</label>
                                    <input type="email" class="form-control" name="emailAddress" placeholder="Email Address">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthDate" class="ccontrol-label">Date of Birth</label>
                            <input type="date" name="birthDate" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label" for="qualification">Highest Qualification:</label>
                                    <select class="form-control" name="qualification">
                                        <option>I am currently a student</option>
                                        <option>B.Arch (Bachelor of Architecture)</option>
                                        <option>M.Arch/M.Planning</option>
                                        <option>PhD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="passedOn" class="control-label">Year of Passing</label>
                                    <input type="text" name="passedOn" placeholder="Year of Passing" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="currentStatus">Current Status:</label>
                            <select class="form-control" name="currentStatus">
                                <option>I am currently a student</option>
                                <option>I am practicing on my own</option>
                                <option>I am working as an employee</option>
                                <option>Other</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="addressLine">Address
                                <abbr title="required">*</abbr>
                            </label>
                            <input class="form-control" required="required" aria-required="true" placeholder="Enter your Address" type="text" name="addressLine">
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="pinCode">PIN Code
                                        <abbr title="required">*</abbr>
                                    </label>
                                    <input class="form-control" required="required" aria-required="true" placeholder="PIN Code" type="text" name="pinCode">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="cityName">City/Town
                                        <abbr title="required">*</abbr>
                                    </label>
                                    <input class="form-control" required="required" aria-required="true" placeholder="City" type="text" name="cityName">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="stateName">State
                                        <abbr title="required">*</abbr>
                                    </label>
                                    <input class="form-control" required="required" aria-required="true" placeholder="State" type="text" name="stateName">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="packPricing">
                        <input type="hidden" name="entryType" value="IE">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="termsAgree"> I agree to
                                <a href="#">Terms</a>.
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>