<!-- views/index.ejs -->
        <% include ./partials/header %>
    <main>

        <% include ./partials/sections/info %>
        <% include ./partials/sections/brief %>
        <% include ./partials/sections/affiliate %>
        <% include ./partials/sections/rules %>
        <% include ./partials/sections/quote %>
        <% include ./partials/sections/schedule %>
        <% include ./partials/sections/faqs %>
        <% include ./partials/sections/sponsors %>

        <section id="cta" class="color-bg text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="color-white">Are you up for the Challenge?</h2>
                        <a href="#" class="btn btn-primary">Register Now</a>
                    </div>
                </div>
            </div>
        </section>
    </main>