<!-- Affiliate -->
        <section class="grey-bg low-padd">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="mb-0">Need some inspirations or help to get started?</h2>
                        <p class="lead-text">
                            We recommend
                            <a href="#">Midcentury Houses Today</a> &amp;
                            <a href="#">Cape Cod Modern</a> to help you get started.
                        </p>
                    </div>
                </div>
            </div>
        </section>