<!-- Brief -->

        <section id="brief" class="parallax-bg" data-src="./img/sand.jpg" data-pos-x="left" data-parallax>
            <div class="overlay"></div>
            <div class="vc">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="color-white">This years Challenge</h3>
                            <h2 class="focused">Beach House</h2>
                        </div>
                    </div>
                    <div class="pt-100"></div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="color-black pt-20">
                            Just for your references - Visualise the beachfront as shown in the image above
                        </p>
                        <div class="pt-50"></div>
                        <h2 >Challenge Breif</h2>
                        <p class="lead-text">
                            Put yourself in the shoes of a successfull modern architectural lover and visualise a beach house for one of your celebrity
                            client who just bought an awesome property at one of the prime beach in India and would like a environment
                            where he can get his work life balance.
                        </p>
                        <div class="pt-50"></div>
                        <p>Note - Keep in mind that the client is relatively famous and would have frequent wanted and unwanted
                            visitors.</p>
                        <div class="pt-100"></div>
                        <a href="#" class="btn btn-lg btn-secondary">Download the full Project Brief</a>
                    </div>
                </div>
            </div>
        </section>