
<!-- FAQs -->

        <section id="faqs">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h2>Still have some questions?</h2>
                        <p class="lead-text">
                            We strive to bring together designers to participate irrespective of gender, race, sexual orientation, socioeconomic background
                            or ethnicity. We usually try to keep things simple. Read our FAQs to phase out ambiguity.
                        </p>
                    </div>
                </div>
                <div class="pt-50"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group faqs" id="accordion">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel question">
                                        <div class="panel-heading">
                                            <h3>
                                                <a class="collapsed" data-toggle="collapse" href="#collapseOne">
                                                    Who can participate?
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Alike mom is the one destination where you get to start your entrepreneurial journey and shine like a star. You are the hero
                                                of the house and we realize that. We help you shine. This is your chance
                                                to show your culinary skill and have a fan base!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel question">
                                        <div class="panel-heading">
                                            <h3>
                                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo">
                                                    How the application process works?
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Alike mom is the one destination where you get to start your entrepreneurial journey and shine like a star. You are the hero
                                                of the house and we realize that. We help you shine. This is your chance
                                                to show your culinary skill and have a fan base!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel question">
                                        <div class="panel-heading">
                                            <h3>
                                                <a class="collapsed" data-toggle="collapse" href="#collapseThree">
                                                    When is the final submission?
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Alike mom is the one destination where you get to start your entrepreneurial journey and shine like a star. You are the hero
                                                of the house and we realize that. We help you shine. This is your chance
                                                to show your culinary skill and have a fan base!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel question">
                                        <div class="panel-heading">
                                            <h3>
                                                <a class="collapsed" data-toggle="collapse" href="#collapseFour">
                                                    What if I changed my mind later?
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Alike mom is the one destination where you get to start your entrepreneurial journey and shine like a star. You are the hero
                                                of the house and we realize that. We help you shine. This is your chance
                                                to show your culinary skill and have a fan base!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel question">
                                        <div class="panel-heading">
                                            <h3>
                                                <a class="collapsed" data-toggle="collapse" href="#collapseFive">
                                                    Can we apply as a team?
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Alike mom is the one destination where you get to start your entrepreneurial journey and shine like a star. You are the hero
                                                of the house and we realize that. We help you shine. This is your chance
                                                to show your culinary skill and have a fan base!
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="panel question">
                                        <div class="panel-heading" data-parent="#accordion">
                                            <h3>
                                                <a class="collapsed" data-toggle="collapse" href="#collapseSix">
                                                    How big can a team be?
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapseSix" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Alike mom is the one destination where you get to start your entrepreneurial journey and shine like a star. You are the hero
                                                of the house and we realize that. We help you shine. This is your chance
                                                to show your culinary skill and have a fan base!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel question">
                                        <div class="panel-heading" data-parent="#accordion">
                                            <h3>
                                                <a class="collapsed" data-toggle="collapse" href="#collapseSeven">
                                                    How much will it cost?
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapseSeven" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Alike mom is the one destination where you get to start your entrepreneurial journey and shine like a star. You are the hero
                                                of the house and we realize that. We help you shine. This is your chance
                                                to show your culinary skill and have a fan base!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel question">
                                        <div class="panel-heading">
                                            <h3>
                                                <a class="collapsed" data-toggle="collapse" href="#collapseEight">
                                                    When will applications open?
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapseEight" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Alike mom is the one destination where you get to start your entrepreneurial journey and shine like a star. You are the hero
                                                of the house and we realize that. We help you shine. This is your chance
                                                to show your culinary skill and have a fan base!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel question">
                                        <div class="panel-heading">
                                            <h3>
                                                <a class="collapsed" data-toggle="collapse" href="#collapseNine">
                                                    What's the evaluation criteria?
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapseNine" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Alike mom is the one destination where you get to start your entrepreneurial journey and shine like a star. You are the hero
                                                of the house and we realize that. We help you shine. This is your chance
                                                to show your culinary skill and have a fan base!
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel question">
                                        <div class="panel-heading">
                                            <h3>
                                                <a class="collapsed" data-toggle="collapse" href="#collapseTen">
                                                    What are the submission requirements?
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapseTen" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Alike mom is the one destination where you get to start your entrepreneurial journey and shine like a star. You are the hero
                                                of the house and we realize that. We help you shine. This is your chance
                                                to show your culinary skill and have a fan base!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>