<!-- Info -->
        <section id="info">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h2>Show your skills off &amp; Get Recognised</h2>
                        <p class="lead-text">
                            ArchiVA is an initiative to bring forward the young talent and innovative designers who think out of the box solutions for
                            real life problems &amp; projects.
                        </p>
                    </div>
                </div>
                <div class="pt-150"></div>
                <div class="row">
                    <div class="col-md-5">
                        <img src="./img/prize.png" alt="prizes">
                    </div>
                    <div class="col-md-7">

                    </div>
                </div>
                <div class="pt-150"></div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <p class="lead-text color-black">Do you feel, you have an out of the box thinking?</p>
                        <a class="link link--brand" href="#">
                            <span data-letters="Register yourself Now">Register yourself Now</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>