<!-- Quote -->

        <section class="parallax-bg" data-src="./img/quote.jpg" data-pos-x="left" data-parallax>
            <div class="vc">
                    <div class="quote">
                            We believe
                            <span class="color-white">Design</span> creates
                            <span class="color-brand">culture.</span>
                            <span class="color-white">Culture</span> shapes
                            <span class="color-brand">values.</span>
                            <span class="color-white">Values</span> determine
                            <span class="color-brand">the future.</span>
                    </div>
            </div>
        </section>