<!-- Rules -->

        <section id="rules">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h2>Get to know the Rules</h2>
                        <p class="lead-text">
                            We know it’s hard to cope up with rules but they are essential to maintain a fair challenge and you’ll have to face some
                            in real life too, So why not now.
                        </p>
                    </div>
                </div>
                <div class="pt-10"></div>
                <div class="row pt-50">
                    <div class="col-md-8 col-md-offset-2">
                        <ul class="checklist">
                            <li>
                                <p>Only architecture students &amp; professionals can participate</p>
                            </li>
                            <li>
                                <p>The design should belong to you &amp; should be original </p>
                            </li>
                            <li>
                                <p>Only one entry per person is allowed</p>
                            </li>
                            <li>
                                <p>Strictly follow the minimum requirements &amp; basic design guidelines</p>
                            </li>
                            <li>
                                <p>Oh! Lastly be bold about your design</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>