<!-- Schedule -->

        <section id="schedule">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h2>Oh! About the Timeline</h2>
                        <p class="lead-text">
                            We like to keep things according to the plan weather it’s architecture or our schedule. So take a look at the timeline to
                            get an idea of what’s going to happen next
                        </p>
                    </div>
                </div>
                <div class="row pt-50">
                    <div class="col-md-10 col-md-offset-1">
                        <ul class="timeline pt-50" id="timeline">
                            <li class="event li complete" data-date="2018-04-07">
                                <div class="timestamp">
                                    <span class="author">Abhi Sharma</span>
                                    <span class="date">24 April
                                        <span>
                                </div>
                                <div class="status active">
                                    <div class="dot"></div>
                                    <h4> Registeration Open </h4>
                                </div>
                            </li>
                            <li class="event li" data-date="2018-05-24">
                                <div class="timestamp">
                                    <span class="author">PAM Admin</span>
                                    <span class="date">24 May
                                        <span>
                                </div>
                                <div class="status">
                                    <div class="dot"></div>
                                    <h4> Registeration Deadline </h4>
                                </div>
                            </li>
                            <li class="event li" data-date="2018-06-30">
                                <div class="timestamp">
                                    <span class="author">Aaron Rodgers</span>
                                    <span class="date">30 June
                                        <span>
                                </div>
                                <div class="status">
                                    <div class="dot"></div>
                                    <h4> Submissions </h4>
                                </div>
                            </li>
                            <li class="event li" data-date="2018-07-05">
                                <div class="timestamp">
                                    <span class="author">PAM Admin</span>
                                    <span class="date">5 July
                                        <span>
                                </div>
                                <div class="status">
                                    <div class="dot"></div>
                                    <h4> Results </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pt-100"></div>
                <div class="row pt-100">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h2>Meet the Jury</h2>
                        <p class="lead-text">
                            We like to keep things according to the plan weather it’s architecture or our schedule. So take a look at the timeline to
                            get an idea of what’s going to happen next
                        </p>
                    </div>
                </div>
                <div class="row pt-50">
                    <div class="col-md-4 team-box">
                        <div class="team-img thumbnail">
                            <img src="/img/dr_praveen_kumar.png">
                            <div class="team-content">
                                <h3>Dr. Praveen Kumar</h3>
                                <div class="border-team"></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.
                                    Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-box">
                        <div class="team-img thumbnail">
                            <img src="/img/ar_jagdish_atal.png">
                            <div class="team-content">
                                <h3>Ar. Jagdish Atal</h3>
                                <div class="border-team"></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.
                                    Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-box">
                        <div class="team-img thumbnail">
                            <img src="https://images.pexels.com/photos/325682/pexels-photo-325682.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                            <div class="team-content">
                                <h3>Robert D'costa</h3>
                                <div class="border-team"></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.
                                    Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>